{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigate plugin for Craft CMS 3.x
 *
 * Navigate index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://studioespresso.co
 * @package   Navigate
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# The title of this CP section #}
{% set title = settings.pluginLabel %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% block actionButton %}
    {% if ((not currentUser.admin and settings.anyoneCanAdd) or currentUser.admin) and (craft.app.config.general.allowAdminChanges or settings.allowWhenReadOnly) %}
        <a href="{{ url('navigate/add') }}" class="btn submit add icon">{{ 'New navigation'|t('navigate') }}</a>
    {% endif %}
{% endblock %}

{# The content of the CP Section #}
{% block content %}

    <div id="navigate-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for nav in navigations %}

    {% set isSingle = false %}
    {% set menuItems = [] %}
    {% set tableData = tableData|merge([{
        id: nav.id,
        title: nav.title|t('site'),
        url: url('navigate/edit/' ~ nav.id),
        handle: nav.handle,
        menu: {
            showItems: false,
            menuBtnTitle: 'Settings'|t('app'),
            label: 'Settings',
            url: isSingle ? '' : ''
        }

    }]) %}
{% endfor %}



{% js %}
    var columns = [
    { name: '__slot:title', title: Craft.t('app', 'Name') },
    { name: '__slot:handle', title: Craft.t('app', 'Handle') },
    { name: '__slot:menu', title: Craft.t('app', 'Edit settings') }
    ];

    new Craft.VueAdminTable({
    columns: columns,
    container: '#navigate-vue-admin-table',
    deleteAction: 'navigate/default/delete',
    deleteConfirmationMessage: Craft.t('app', "Are you sure you want to delete “{name}” and all its included items?"),
    emptyMessage: Craft.t('app', 'No navigations exist yet.'),
    tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}

