{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigate plugin for Craft CMS 3.x
 *
 * Navigate index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://studioespresso.co
 * @package   Navigate
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/studioespresso/navigate/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = navigation.title %}

{% set crumbs = [
    { label: title, url: url('navigate') },
    { label: 'Settings', url: '#' }
]
%}

{# The content of the CP Section#}
{% block content %}
    <form method="post" action="https://craft3.local/index.php?p=admin/actions/navigate/default/save">
        {{ csrfInput() }}
        {{ redirectInput('navigate') }}
        <div class="field" id="name-field">
            <div class="heading">
                <label id="name-label" class="required" for="title">Title</label>
                <div class="instructions"><p>What this field will be called in the CP.</p>
                </div>
            </div>
            <div class="input ltr">
                <input class="text fullwidth" type="text" id="title" name="title" value="" autofocus="" autocomplete="off">
            </div>
        </div>
        <div class="field" id="handle-field">
            <div class="heading">
                <label id="handle-label" class="required" for="handle">Handle</label>
                <div class="instructions"><p>How you’ll refer to this field in the templates.</p>
                </div>
            </div>
            <div class="input ltr">
                <input class="text code fullwidth" type="text" id="handle" name="handle" value="" maxlength="64" autocomplete="off">
            </div>
        </div>
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

    </form>

{% endblock %}
