{% if sites|length > 1 %}
    {% set thisSite = site %}
    <div id="revision-btn" class="btn menubtn" data-icon="world">{{ thisSite.name }}</div>
    <div class="menu">
        {% if navigation.enabledSiteGroups == '*' or not navigation.enabledSiteGroups %}
            {% set siteGroups = craft.app.sites.getAllGroups() %}
        {% else %}
            {% set siteGroups = [] %}
            {% for group in craft.app.sites.getAllGroups() %}
                {% if group.id in navigation.enabledSiteGroups|json_decode %}
                    {% set siteGroups = siteGroups|merge(siteGroups) %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% for group in siteGroups %}
            {% set groupSiteIds = group.getSiteIds()|intersect(craft.app.sites.getEditableSiteIds()) %}
            {% if groupSiteIds %}
                <h6>{{ group.name }}</h6>
                {% for siteId in groupSiteIds %}
                    <ul class="padded">
                    {% set groupSite = craft.app.sites.getSiteByID(siteId) %}
                    <li>
                        <a href="{{ cpUrl('navigate/edit/'~  navigation.id ~ '/' ~  groupSite.handle) }}/"
                           {% if groupSite.handle == thisSite.handle %}class="sel"{% endif %}>
                            {{ groupSite.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}