{% if craft.app.sites.getEditableSites()|length > 1 %}
{% set thisSite = site %}

<div id="revision-btn" class="btn menubtn" data-icon="world">{{ thisSite.name }}</div>
<div class="menu">
    <ul class="padded">
        {% for site in craft.app.sites.getAllSites() %}
            <li>

                <a href="/admin/navigate/edit/{{ navigation.id }}/{{ site.handle }}" {% if site.handle == thisSite.handle %}class="sel"{% endif %}>
                    {{ site.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}